*{ margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

#headtop{
     background-color: rgb(212, 212, 212);
}
#flag{
    width:16px;
     margin-right: 10px;
    }
#down{
     width: 16px;
    }

#languageselect{ 
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
#headtop .container{ 
         width:1300px;
         background-color: ;
         display: flex; 
         flex-direction: row; 
         justify-content: space-between;
         align-items: center;
         margin-right: auto;
         margin-left: auto;
         padding: 6px;
        }

#logo{
    height:34px;
     width:34px;
}
h2{
    font-family: arial;
}

#headcenter{ display: flex; flex-direction: row; justify-content: space-around; align-items: center;   height:80px;    background-color: rgb(249, 247, 246);}
.iconimg{ height: 20px; width: 20px;}

#headcenter .container{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;

}

.search{ display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}
input{
    border: none;
    width:100%;
    padding:8px;
    height:30px;
}

.searchcontainer{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:8px;
    width: 600px;
    border-radius: 6px;
    background-color: white;
   
    
}
.iconcontainer{

    padding: 12px;
}
.iconimg{
    margin-left: 10px;
}
   

    

  
